@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: oklch(60.9% 0.126 221.723);
  --color-dark: oklch(55.4% 0.135 66.442);
}

.safe-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.45rem);
}

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}