@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  /* --color-primary: oklch(60.9% 0.126 221.723); */
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-dark: oklch(55.4% 0.135 66.442);
}

.safe-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.45rem);
}

html {
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}